# ================================
# Django
# ================================

Django==4.2.30
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.7.0

# ================================
# Databasee
# ================================

psycopg2-binary==2.9.12
dj-database-url==3.0.1

# ================================
# Environment Variables
# ================================

python-decouple==3.8
python-dotenv==1.2.1

# ================================
# AI - Gemini
# ================================

google-genai==1.47.0
#google-generativeai==0.8.6

# ================================
# RAG / LangChain
# ================================

langchain==0.3.30
langchain-core==0.3.86
langchain-text-splitters==0.3.11
#langchain-google-genai==2.1.12

# ================================
# Vector Database
# ================================

chromadb==1.5.9

# ================================
# Embeddings
# ================================

sentence-transformers

langchain-community

# ================================
# Document Processing
# ================================

PyMuPDF==1.26.5
PyPDF2==3.0.1

# ================================
# Data / ML
# ================================

numpy==1.25.0
pandas==2.0.3
scikit-learn==1.3.1
scipy==1.13.1

# ================================
# Server
# ================================

gunicorn==20.1.0

# ================================
# HTTP / Utilities
# ================================

requests==2.31.0
PyYAML==6.0.2
